* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

.header {
    height: 150px;
    display: grid;
    place-items: center;
}

.view {
    height: 100px;
    width: 18%;
    background: url(img/a19.jpg);
    background-size: 100% 100%;
    margin: 0 auto;
}

.nav {
    display: grid;
    justify-content: center;
    align-items: center;
}

.nav ul {
    width: 100%;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav li {
    padding: 20px;
    list-style: none;
    display: inline;
}

.nav button {
    border: none;
    background: #a5dce1;
    color: white;
    padding: 10px 20px;
    /* height: 30px; */
    border-radius: 5px;
}

.nav i {
    display: none;
}

.sweet {
    /* height: 700px; */
    /* border: 1px solid; */
    /* background: lightgoldenrodyellow; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 750px;
}

.cake {
    background: url(img/a23.jpg);
    background-size: 100% 100%;
    color: white;
    font-weight: bold;
    /* border: 1px solid; */
}

.cake .kaju {
    background: lightsalmon;
    margin-top: 620px;
    display: inline-block;
}

.pastry {
    /* width: 350px; */
    /* border: 1px solid; */
    display: grid;
    gap: 20px;
}

.choco {
    height: 365px;
    background: url(img/a22.jpg);
    background-size: 100% 100%;
    color: white;
    font-weight: bold;
    /* border: 1px solid; */
}

.pastry .choc {
    background: url(img/a26.jpg);
    background-size: 100% 100%;
    color: white;
    font-weight: bold;
}

.choco .shop {
    background: lightcoral;
    display: inline-block;
    margin-top: 230px;
}

.choc .date {
    background: aqua;
    margin-top: 230px;
    display: inline-block;
}

.cookies {
    height: 600px;
    display: grid;
}
.touch {
    background: linear-gradient(rgba(46, 42, 42, 0.3), rgba(46, 42, 42, 0.3)), url(img/a21.jpg);
    background-size: cover;
    height: 500px;
    width: 92%;
    margin: 50px;
    /* background: red; */
    /* margin: 50px auto; */
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.max{
    color: #fff;
    text-align: center;
    padding: 60px;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 60px;
}
.mattis{
    margin-top: 50px;
    line-height: 30px;
}
.fore{
    line-height: 70px;
}
.join button{
    height: 35px;
    width: 80px;
    margin: 10px 200px;
    background: transparent;
    color: #fff;
    border: 1px solid  #fff;
}
.torto{
    background: #fff;
    color: #3a3737;
    border: 1px solid;
    text-align: center;
    width:75%;
    margin: 50px auto;
    height: 400px;
}
.min{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 30px;
}
.mail{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    /* margin-top: 60px; */
    padding: 12px;
}
.box1 {
    margin-left: 28px;
    height: 30px;
    width: 50px;
}
.sent input{
    height: 30px;
    width: 300px;
}
.require button{
    line-height: 10px;
    text-align: center;
    margin-top: 70px;
    margin-left: 100px;
    background: rgb(241, 168, 168);
    color: #fff;
    width: 150px;
}

.all {
    /* height: 120px; */
    width: 90%;
    /* border: 1px solid; */
    /* background: lightyellow; */
    margin: 20px auto;
}

.buy, .item {
    font-family: 'Times New Roman', Times, serif;
    /* line-height: 50px; */
    text-align: center;
}
.buy {
    font-size: 20px;
    line-height: 50px;
}

.item {
    font-size: 50px;
}

.berry {
    /* height: 350px; */
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 80%;
    /* background: lightgreen; */
    padding: 30px;
}

.biscuit {  
    background:linear-gradient(rgba(46, 42, 42, 0.3), rgba(46, 42, 42, 0.3)), url(img/a8.jpg);
    background-size: 100% 100%;
     background-size: cover;
}

.cook {
    background:linear-gradient(rgba(46, 42, 42, 0.3), rgba(46, 42, 42, 0.3)), url(img/a2.jpg);
    background-size: 100% 100%;
    /* background-size: cover; */
}

.fruit {
    background: linear-gradient(rgba(46, 42, 42, 0.3), rgba(46, 42, 42, 0.3)),url(img/a9.jpg);
    background-size: 100% 100%;
    /* background-size: cover; */
}

.lemon {
    background:linear-gradient(rgba(46, 42, 42, 0.3), rgba(46, 42, 42, 0.3)), url(img/a12.jpg);
    background-size: 100% 100%;
    /* background-size: cover; */
}

.tart {
    background: linear-gradient(rgba(46, 42, 42, 0.3), rgba(46, 42, 42, 0.3)),url(img/a13.jpg);
    background-size: 100% 100%;
    /* background-size: cover; */
}
.harsh{
    font-size: 16px;
    margin-left: 220px;
    background: #000;
    color: #fff;
    display: inline;
}
.plus{
    margin-left: 20px;
    margin-top: 290px;
    font-weight: bold;
    color: #fff;
}
.lorem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
    /* border: 1px solid; */
}

.ds{
    background: url(img/a15.jpg);
    background-size: cover;
}
.sd{
    background: #a5dce1;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px;
    width: 80%;
    padding: 50px;
}
.cont{
    text-align: center;
    border: 1px solid;
}
.birth{
    line-height: 80px;
    font-size: 40px;
}
.day{
    /* transform: translate(0, -40px); */
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
}
.inter{
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    line-height: 60px;
    text-align: left;
    margin: 20px 20px;
    /* transform: translate(20px, -70px); */
}
.organic{
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    margin: -200px 30px;
    /* transform: translate(-25px, -270px); */
    text-align: right;
    line-height: 60px;
}

.cost {
    height: 900px;
    /* border: 1px solid; */
    background: linear-gradient(rgba(46, 42, 42, 0.3), rgba(46, 42, 42, 0.3)), url(img/a20.jpg);
    background-size: cover;
}
.info{
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: 160px;
}
.part{
    /* border: 1px solid; */
    margin: 20px;
    display: grid;
    grid-template-rows: 120px;
    grid-template-columns: 1fr 1fr 1fr;
}
.detail{
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 118px;
}

.m1{
    background: url(img/a2.jpg);
    background-size: 100% 100%;
}
.m2{
    background: url(img/a9.jpg);
    background-size: 100% 100%;
}
.m3{
    background: url(img/a11.jpg);
    background-size: 100% 100%;
}
.d1{
    margin-left: 10px;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.d2{
    font-size: 20px;
    margin-left: 10px;
    line-height: 40px;
    font-family: 'Cabin', sans-serif;
}
.d3{
    font-size: 20px;
    margin-left: 10px;
    padding: 4px;
    background: #a5dce1;
    color: #fff;
    display: inline;
}
.calculator {
    height: 800px;
    /* border: 1px solid; */
    width: 80%;
    /* background: white; */
    margin: 50px auto;
}

.price {
    height: 200px;
    /* border: 1px solid; */
    background: transparent;
}

.estimate,
.para {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

.estimate {
    font-size: 20px;
    line-height: 80px;
}

.para {
    font-size: 50px;
}

.layer {
    grid-template-rows: 600px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.terms {
    background: #fff;
    /* border: 1px solid; */
    font-family: 'Cabin', sans-serif;
}
.terms .firstbar, .secondbar, .thirdbar, .fourthbar{
    /* border: 1px solid red; */
    display: grid;
    height: 12vh;
    margin: 50px;
}

.firstbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    /* justify-content: space-around; */
    line-height: 40px;
}

.firstbar .guests{
    /* border: 1px solid; */
    line-height: 45px;
    margin-left: 70px;
}
.ncake{
    /* border: 1px solid; */
    line-height: 45px;
    margin-left: 180px;
}
.secondbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-around; */
    line-height:40px;
}

.sel{
    padding: 10px;
    height: 40px;
    border: 1px solid #7e7e7e;
    background: #fff;
    
}
.partyocc{
    margin-left: 50px;
}
.tastecake{
    margin-left: 20px;
}
.thirdbar{
    display: grid;
    padding: 50px;
    /* align-items: center; */
}
.fourthbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.cakeimg{
    width: 25%;
    /* border: 1px solid; */
    background: url(img/a1.jpg);
    background-size: 100% 100%;
}
.estiprice{
    margin-left: 225px;
    width: 40%;
    /* border: 1px solid; */
}
.estiprice span{
    color: lightcoral;
    justify-content: center;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}
.t2, .t4{
    height: 30px;
}
.fa-plus{
    color: #000;
    background: lightcoral;
}
.line ul{
    font-family: 'Times New Roman', Times, serif;
}
.line, i{
    padding: 5px;
}
.line{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 60px;
    /* background: #000; */
    margin: 50px;
    padding: 5px;
}
.t1 button{
    font-family: 'Times New Roman', Times, serif;
    width: 300px;
    margin-left: 12%;
    padding: 5px;
    font-size: 20px;
    border: none;
    background: lightcoral;
}
.vanila {
    /* height: 1000px; */
    /* background: lightgoldenrodyellow; */
    /* border: 1px solid; */
    display: grid;
    /* padding: 50px 0; */
    grid-template-columns: 80%;
    grid-template-rows: 900px;
    justify-content: center;
    margin-top: 50px;
}

.custom {
    /* border: 1px solid; */
    /* background: lightslategrey; */
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows:320px 400px;
}

.chef {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 30px;
    /* text-align: justify; */
}
.city {
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
    text-align: right;
}

span {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    justify-content: right;
    font-size: 2.5rem;
}

.image1 {
    gap: 30px;
    /* height: 428px; */
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr  1fr;
}

.img1 {
    background: linear-gradient(rgba(0, 0, 0, .15), gray), url(img/a25.jpg);
    background-size: cover;
}

.img2 {
    background: linear-gradient(rgba(0, 0, 0, .15), gray), url(img/a27.jpg);
    background-size: cover;
}
.hope{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    transform: translate(0, 250px);
}
.judy{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #fff;
    transform: translate(0, 260px);
}
.wail{
    font-size: 11px;
}
.nick{
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cake1{
    /* border: 1px solid; */
    display: grid;
}
.pa1{
    display: grid;
    /* border: 1px solid; */
    grid-template-columns: 1fr 2fr;
} 

.p1{
    background: url(img/a17.jpg);
    background-size: 80% 80%;
    transform: translate(20px, 20px);
    background-repeat: no-repeat;
    border: none;
}
.p2{
    background: url(img/a16.jpg);
    background-size: 80% 80%;
    transform: translate(20px, 20px);
    background-repeat: no-repeat;
    border: none;
}
.p3{
    background: url(img/a18.jpg);
    background-size: 80% 80%;
    transform: translate(20px, 20px);
    background-repeat: no-repeat;
    border: none;
}
.p4{
    background: url(img/a14.jpg);
    background-size: 80% 80%;
    transform: translate(20px, 20px);
    background-repeat: no-repeat;
    border: none;
}
.pa2, .ig2{
    transform: translate(20px, 30px);
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.pa2{
    color: darkgray;
    font-weight: bold;
    font-size: 17px;
}
.ig2{
    color: gray;
    font-size: 15px;
}
.btn{
    /* height: 20px; */
    /* background: aquamarine;
    color: white; */
    text-align: center;
}

.btn button {
    border: none;
    background: #a5dce1;
    color: white;
    line-height: 35px;
    width: 100px;
    font-size: 12px;
}

.desserts {
    background: linear-gradient(to bottom, rgba(85, 82, 82, 0.3), rgba(85, 82, 82, 0.3)), url(img/a24.jpg);
    background-size: 100% 100%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 470px;
    padding: 80px;
    justify-content: center;
}
.dollor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* /* border: 1px solid; */
    /* background: lightgray;  */
    /* justify-content: center; */
    
}
h6{
    font-size: 40px;
    /* margin-left: 40px; */
    line-height: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.velit{
    font-family: 'Cabin', sans-serif;
    text-align: center;
    color: white;
    font-size: 18px;
    /* margin: 0px auto; */
    font-weight: bold;
}
.now{
    /* height: 60px; */
    width: 200px;
    /* margin: 50px auto; */
    line-height: 60px;
    text-align: center;
    outline: 2px solid white;
    color: white;
    font-size: 18px;
}
/* .for1, .for2, .for3{
    border: 1px solid;
} */
.for1{
  text-align: center;
  margin: 20px;
  padding: 40px;
}
.for1 h6{
    color: #fff;
    padding: 10px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}
.velit{
    font-size: 16px;
    align-items: center;
    justify-content: center;
    font-weight:lighter;
    display: inline-flex; 
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
}
.now{
    align-items: center;
    justify-content: center;
    margin-left: 65px;
    margin-top: 4px;
}
.for2, .for3{
    display: grid;
    grid-template-columns: 80%;
    /* background: lightcoral; */
    grid-template-rows: 480px;
    justify-content: center;
}
.form1, .form2{
    background: white;
    border: 1px solid;
    display: grid;
    /* line-height: 30px; */
    /* grid-template-rows: 160px 160px; */
    
}
/* .details, .read{
    border: 1px solid;
} */
.details{
    /* padding-top: 15px ; */
    padding: 20px 50px 0 50px;
}
.row-1{
    border: 1px solid #7e7e7e bottom;
    line-height: 30px;
    padding: 20px 50px 0 50px;

}
.h4{
    color: #000;
}
.h5{
    color: lightcoral;
}
.row-2{
    background: rgb(241, 168, 168);
    /* margin-left: 20px; */
    line-height: 30px;
}
h4, h5, .weds{
    margin-left: 10px;
    color: #fff;
}
h5{
    font-size: 18px;
}
.weds{
    font-size: 13px;
}
.read button{
    height: 35px;
    width: 150px;
    margin: 80px 40px;
    line-height: 10px;
    /* text-align: center; */
    background: rgb(241, 168, 168);;
    color: white;
    font-size: 18px;
    border: none;
}
.details p{
    /* text-align: center; */
    line-height: 35px;
    font-size: 15px;
}
.wedding{
    /* margin-left: 90px; */
    border-bottom: 1px solid;
    /* display: inline-block; */
}
.news{
    margin: 50px auto;
    /* border: 1px solid; */
    height: 110px;
    width: 80%;
}
.macarons{
    height: 615px;
    width: 80%;
    /* border: 1px solid; */
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.tune{
    text-align: center;
    padding: 15px;
    color: #7e7e7e;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.ournew{
    text-align: center;
    padding-bottom: 15px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.course, .im1, .im2, .im3, .im4, .cakey1, .cakey2, .cakey3, .cakey4{
    border: 1px solid lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.course{
    color: #7e7e7e;
    height: 286px;
}
.im4{
    background: rgb(241, 168, 168);
}
.cakey1{
    background: url(img/a5.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.cakey2{
    background: url(img/a4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.cakey3{
    background: url(img/a3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.cakey4{
    background: url(img/a6.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.cakepre{
    margin: 20px;
    font-size: 17.5px;
}
.im1 button{
    background: #a5dce1;
    border: none;
    margin: 15px;
    width: 120px;
    color: #fff;
    font-weight: bold;
    height: 30px;
}
.im2 button{
    background: #a5dce1;
    border: none;
    margin: 15px;
    width: 120px;
    color: #fff;
    font-weight: bold;
    height: 30px;
}
.im3 button{
    background: #a5dce1;
    border: none;
    margin: 15px;
    width: 120px;
    color: #fff;
    font-weight: bold;
    height: 30px;
}
.im4 button{
    background: white;
    border: none;
    margin: 15px;
    width: 120px;
    color: lightcoral;
    font-weight: bold;
    height: 30px;
}
.im1, .im2, .im3, .im4{
    display: grid;
    grid-template-columns: 1fr;
}
.im4, .bit{
    color: #fff;
}
.im4, .choc, .cou3r{
    color: #fff;
}
.cou1, .cou2, .cou3{
    margin: 20px;
}
.cou2{
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.footer{
    text-align: center;
    color: #7e7e7e;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}