@media(max-width:1200px)
{
    .sub1{text-align: center;}
    .sub2{display: none;}
    .menu{display: block;}
    .sub3 span{display: none;}
    .icon{display: block;}

}
@media(max-width:1100px)
{
    .mode
    {
        grid-template-columns: repeat(3, 1fr);
    }
    .layout
    {
        grid-template-columns: 1fr;
        padding: 0;
    }
    .layout .img
    {
        height: 400px;
        width: 600px;
        margin: auto;
    }
    .product
    {
        text-align: center;
    }
}


@media(max-width:990px)
{
    .xmany .many
    {               
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    }
    .Uniquehome
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .homepages
    {
        width: 350px;
        margin: auto;
    }
    .feature
    {
        padding: 20px 100px;
    }
    .xfeature
    {
        grid-template-columns: 1fr;
        height: auto;
    }
    .xfeature .img2
    {
        height: 400px;
    }
    .built img
    {
        height: 60vh;
    }
    .layout
    {
        grid-template-columns: 1fr;
        padding: 100px;
    }




}
@media(max-width:900px)
{
    .wordp h2{width: 100%;}
    .Uniquehome
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .mode
    {
        grid-template-columns: repeat(2, 1fr);
        padding: 70px;
        gap: 50px;
    }

}
@media(max-width:850px)
{
    .Uniquehome
    {
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media(max-width:770px)
{
    .xmany
    {
        padding:20px 120px ;
    }

    .xmany .many
    {           
       grid-template-columns: 1fr;
       grid-template-rows: auto;
    }
    .Uniquehome
    {
        grid-template-columns: repeat(1, 1fr);
       /* gap: 0; */
    }
    .mode
    {
        padding: 20px;
    }
   

    

   
}
@media(max-width:500px)
{
    .built .h3
    {
        width: 100%;
    }
    .layout
    {
        grid-template-columns: 1fr;
        padding: 0;
    }
    .layout .product
    {
        padding:0;
    }
    .many .xx
    {
        width: 300px;
        margin: auto;
    }
    .xmany
    {
        padding: 0;
       
    }
    .xfeature .img2
    {
        height: 300px;
    }
    .built img
    {
        height: 40vh;
 
        margin: auto;
    }
    .mode
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .shop
    {
        width: 330px;
        margin: auto;
    }
    .layout .img
    {
        height: 300px;
    }
    .Builder
    {
        grid-template-columns: 1fr;
    }
    .Features
    {
        padding: 50px 0px;
    }
    .media h5
    {
        font-size: 30px;
    }
    .media p
    {
        width: 100%;
        font-size: 18px;
    }
    .grid
    {
        grid-template-columns: 1fr 1fr;
    }



}
