*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid black; */
}
body
{
    background: #fff;
}
html
{
    scroll-behavior: smooth;
}

.header
{
    /* border: 1px solid; */
    background: #000;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    line-height: 50px;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: 6;
   
}
.head
{
    display: flex;
    padding: 20px 0;

}

.hed1
{
    /* border: 1px solid red; */
    display: flex;
    /* width: 400px; */
    margin: 0 auto;
}
.him
{
    width:50px;
    height: 50px;
    /* border: 1px solid lightcoral; */
    background: url(../img/b.png);
    background-size: 100% 100%;
    margin-left: 70px;
    margin-right: 50px;
    /* margin-left: 0; */
}

.hed ul{
    /* display: flex;     */
    list-style: none;
    /* border: 1px solid; */
    /* height: 30px; */
}
.hed1 li
{
    border: 2px solid transparent;
    display: inline;
    margin-left: 25px;
    padding: 8px;
    border-radius: 50px;
    transition: 0.3s;
}

.hed1 li:hover
{
    border: lightcoral 2px solid;
}
.slider
{
    border: 1px solid black;
    height: 590px;   
    /* overflow: hidden;   */
    margin-top: 90px; 
}
.xslider
{
    width: 100%;
}

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .swiperslider:nth-child(1n) {
    background: url(../img/slider-21.jpg);
  }

  .swiperslider:nth-child(2n) {
    background: url(../img/slider-31.jpg);
    background-size: cover;
  }

  .swiperslider:nth-child(3n) {
    background: url(../img/img-slider-1.jpg);
  }

.deal
{
    /* border: 1px solid black; */
    /* height: 600px; */
    background: #fff;
    display: flex;
    place-items: center;
    justify-content: center;
    font-family: "Varela Round", sans-serif;
    padding: 70px;

}
ul .bars
{
    display: none;

}
.xdeal
{
    /* height: 500px; */
    width: 1200px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.xdeal .day
{
    /* border: 1px solid black; */
    width: 50%;
    height: 500px;
    text-align: center;
    /* background: lightcoral; */
}
.dealleft
{
    background: url(../img/counter-555x431.png);
    background-size:100% 100% ;
}
.day h1
{
    font-family: "Pacifico", cursive ;
    color: #ee7560;
    margin-top: 100px;
}
.day p
{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.botton
{
    /* border: 1px solid black ; */
    width: 180px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background: rgb(236, 87, 87);
    text-align: left;
    margin: 50px  auto;
    color: white;
    font-size: 15px;
    font-family: "Varela Round", sans-serif;
}
.botton i
{
    transition: .32s;
    margin-left: 10px;
}
.botton:hover i
{
    margin-left: 20px;
}
.sold
{
    margin-top: 40px;
}
.sweet
{
    /* border: 1px solid; */
    /* height: 650px; */
    background: white;
}
.xsweet
{
    font-family: "Pacifico", cursive;   
    color: #ee7560;
    text-align: center;
    font-size: 30px;
    /* margin-top: 20px; */
}
.xsweet span
{
    font-size: 50px;
    color: #000;
    font-family: none;
    
}
.menu {
    position: relative;
    height: 500px;
    padding : 0px 150px ;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin-top:  50px;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black  ; */

  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .swiper-slide .para
  {
    font-size: 24px;
    font-family: cursive;
  }
.ceo
{
    /* border: 1px solid black; */
    /* height: 500px; */
    padding-bottom: 50px;
    text-align: center;
}
.img
{
    height: 120px;
    width: 120px;
    border-radius:50%;
    background: url(../img/3.jpg);
    background-size: 100% 100% ;
    margin: 0 auto;
    margin-top: 70px;
    /* border: 1px solid ; */
}
.sliderimg
{
    /* border: 1px solid red; */
    height: 65%;
    object-fit: contain;
}
.slidermenu
{
    /* border: 1px solid blue; */
    height: 35%;
}
.slidermenu p
{
    margin-top: 10px;
    /* font-weight:100; */
    font-size: 15px;
}
.slidermenu .hover
{
    margin-top: 0px;
    font-size: 18px ;
    font-weight:500;
    transition: .2s;
    font-family: cursive;
}
.hover:hover
{
    color: #ee7560;
}



.ceo div
{
    font-family: "Varela Round", sans-serif;
    /* border: 1px solid; */
    margin-top: 40px;
}
.button
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 50%;
    border-color: #ee7560;
    color: #ee7560;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    z-index: 9;


}
.ceo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background:url(../img/img-bg-1.jpg);
  }
.ceo p
{
   font-size: 30px;
   margin-top: 30px;
   line-height: 50px;
}

.honey
{
    /* height: 450px; */
    width: 1100px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    /* padding-right: 30px; */
    flex-wrap: wrap

}
.xhoney
{
    /* border: 1px solid red; */
    width: 50%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;     
    gap: 20px;   
}
.xh
{
    /* border: 1px solid black; */
    width: 100%;
    height: 212px;
    display: flex;
    gap: 20px;
   

}
.min
{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
}
.x1
{
    background: url(../img/banner-1.jpg);
    background-size: 100% 100%;
}
.m1
{
    background: url(../img/banner-2.jpg);
    background-size: 100% 100%;
}
.m2
{
    background: url(../img/banner-3.jpg);
    background-size: 100% 100%;
}
.x2
{
    background: url(../img/banner-4.jpg);
    background-size: 100% 100%;
}
.offer
{
    /* background: #a30909; */
    padding: 70px;
}
.cakes
{
    /* border: 1px solid black; */
    /* height: 700px; */
    padding: 130px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}
.xcakes
{
    width: 50%;
}
.topic
{
    /* border: 1px solid black; */
    height: 100px;
    width: auto;    
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
}
.cake

{
    /* border: 1px solid black; */
    height: 175px;
    display: flex;
    background: #fff;
    margin: 25px 0;
}
.cake .ca1
{
    height: 100%;
    width: 200px;
    /* border: 1px solid black; */
}
.cake .ca2
{
    width: 400px;
    /* border: 1px solid ; */
}    
.cake .ca2 a
{
    text-decoration: none;
    color: #000;
    font-size: 15PX;
    font-weight: 600;
}
.ca2 a:hover
{
    color: #ee7560;
}
.cake .ca2 p
{
    font-family: "Varela Round", sans-serif;
    margin-top: 10px;
    line-height: 20px;
    font-weight: 100;
}
.price
{
    margin-top: 10px;             
    font-size: 20px;
}
.price span
{
    color: #7a7676;
    text-decoration: line-through;
}
.ca2 .botton
{
    margin: 0;
    margin-top: 10px;
}
.baker
{
    /* height: 700px; */
    /* border: 1px solid; */
    background: #f5f3f0;;
    padding: 100px;

}
.xbaker
{
    /* height: 500px; */
    width: 1100px;
    /* border: 1px solid; */
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.info
{
    /* border: 1px solid black; */
    width: 330px;    
    /* background: rgb(187, 183, 183); */
    font-family: "Varela Round", sans-serif;
}
.i1
{
    width: 380px;
}
.info h1
{
    font-weight: 300;
    font-size: 40px;
    font-family: none;
}
.info ul
{
    list-style: disc;
    line-height: 35px;
    margin-top: 30px;
    margin-left: 30px;
}
.info p
{

    font-size: 15px;
    line-height: 25px;
    margin-top: 35px;
}
.info .botton
{
    margin: 30px 5px;
}
.info .photo
{
    height: 270px;
    /* border: 1px solid; */
    overflow: hidden;
}
.ph1
{
    height: 100%;
    background: url(../img/team-1-360x280.jpg);
    background-size: 100% 100%;
    transition: .42s;
}
.ph2
{
    height: 100%;
    background: url(../img/team-2-360x280.jpg);
    background-size: 100% 100%;
    transition: .42s;
}
.photo:hover .ph1
{
    transform: scale(1.1);
}
.photo:hover .ph2
{
    transform: scale(1.1);
}
.i2
{
    text-align: center;
    background: #fff;
}
.i2 h1
{
    font-size: 20px;
    margin-top: 30px;
}
.i2 h5
{
   color: #ee7560;
   margin-top: 15px;
}
.data p
{
    margin-top: 0px;
}
.font 
{
    /* border: 1px solid;     */
    font-size: 20px;
    margin-top: 20px;
}
.font a
{
    color: #000;
    /* border: #000 1px solid; */
    margin-left: 20px;
}
.font .fa:hover
{
    color: #ee7560;
}
.blog
{
    /* height: 700px; */
    border: 1px solid;
    background: #fff;
    padding: 100px;
}


