*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header style start */
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid black;
    padding: 20px 60px;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header .headerlogo
{
    font-size: 40px;
}
.header ul
{
    list-style: none;
    display: flex;
    font-size: 30px;

}
.header ul li
{
    margin: 0 30px;
    cursor: pointer;
}
.header ul .bars
{
    display: none;
}

/* header style end */


/* desiner style start */
.desiner
{
    border: 1px solid brown;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #BAF3D7 ,#BFDCFA);
    display: flex;
}
.desiner .name .para
{
    font-size: 50px;
    font-weight: bold;
}
.desiner .name h5
{
    font-size: 70px;
}
.desiner .name .web
{
    font-size: 40px;
    font-weight: 600;
}
img
{
    border-radius: 50%;
    height: 500px;
    background: #EEB517;
    margin: auto;
}
.myimg
{
    border-radius: 50%;
    border: 1px solid black;
}
img
{

}
/* desiner style end */