@media(max-width:600px){
    .nav{
        grid-template-columns: 1fr;
        padding: 0;
        position: relative;
    }
    .menu{
        position: absolute;
        right: 5%;
        top: 35%;
    }
    .menu .fa-bars{
        display: inline-block;
    }
    .nav-menu{
        display: none;
        z-index: 1;
        position: absolute;
        top: 100%;
        right: -200%;
        background: black;
        width: 250px;
    }
    .menu:hover .nav-menu{
        display: block;
    }
    .nav-menu .nav-submenu a{
        display: block;
    }
    .section-img{
        margin-left: 30%;
    }
    .heading{
        font-size: 30px;
    }
    .about,.resume,.education,.skill,.project,.contact,.cp{
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-resume{
        padding-right: 0;
        grid-template-columns: 1fr;
    }
    .skill-cnt,.project-cnt{
        grid-template-columns: 1fr;
    }
    .project-cnt{
        row-gap: 30px;
    }
    .cntct-cnt{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .cp{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .fc-tw{
        padding: 0;
        margin-top: 20px;
    }
    
}