*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
.main{
    background:linear-gradient(rgba(47,47,47,0.3),rgba(47,47,47,0.3)), url(../image/miami-beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}
header{
    height: 80px;
    border-bottom: 1px solid;
    /* padding: 0 150px; */
}
.nav{
    height: 80px;
    width: 80%;
    /* background: lightcoral; */
    color: #004274;;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", Sans-serif;
}
.logo{
    /* width: 15%; */
    font-size: 23px;
    /* background: lightblue; */
}
.logo .fa-map-marker{
    color: #00aeff;
}
.pro{
    display: flex;
    justify-content: right;
    align-items: center;
}
.menu  a{
    color: #004274;;
}
.menu{
    padding: 30px  0 ;
    /* border: 1px solid; */
    position: relative;
}
.x{
    display: inline;
    margin-right: 25px;
}
a{
    text-decoration: none;
    color: black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.sam{
    position: absolute;
    /* top: ; */
    list-style: none;
    font-size: 15px;
    text-align: center;
    left: 0;
    background: white;
    display: none;
    width: 400%;
    transition: 1s;
    overflow: hidden;
    
}
ul{
    margin: 0;
    padding: 0;
}
.sam li{
    line-height: 35px;
    border-bottom: 1px solid;
}
.menu:hover .sam{
    display: block;
    top: 100%;
}
.menu:hover{
    background: lightgray;
}


.pro button{
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    background: lightgray;
}
.pro button:hover{
    background: #00aeff;
}
button a{
    color: white;
}
.wel{
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-top: 10%;
    font-family: "Roboto", Sans-serif;
}
.lotus{
    color: #fff;
    text-align: center;
    font-family: "Roboto", Sans-serif;
}

.buy{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  
    font-family: "Roboto", Sans-serif;
}
.s{
    text-align: center;
  
    padding: 2px;
    /* border: 1px solid; */
    width: 20%;
}
.s input{
    text-align:center;
    height: 40px;
    width: 100%;
}
.s button{
        padding: 20px;
        font-size: 15px;
        border-radius: 10px;
        background: #00aeff;
        margin-top: 20px;
        width: 100%;
}
.discover{
    /* height: 900px; */
    border: 1px solid;
    /* background: lightseagreen; */
}
.rentsale{
    /* border: 1px solid; */
    /* height: 130px; */
    /* width: 80%; */
    margin: 50px auto;
}
h4{
    text-align: center;
    padding: 20px;
    font-size: 35px;
    font-weight: 300;
    font-family: "Roboto", Sans-serif;
}
.dolorsit{
    text-align: center;
    font-family: "Roboto", Sans-serif;
}
.apartbox{
    /* border: 1px solid; */
    margin: 50px auto;
    /* height: 65vh; */
    width: 80%;
    /* padding: 0 100px; */
    display: flex;
    gap: 50px;
}
.apartimg, .modern, .owner{
    border: 1px solid lightgray;
    /* width: 385px; */
    font-family: "Roboto", Sans-serif;
}

.light{
    font-size: 19px;
    line-height: 30px;
}
.add{
    font-size: 12px;

}
.apar{
    margin-top: 20px;
    font-size: 15px;
}
.modern{
    padding: 15px;
}
.firstbox .apartimg{
    background: url(../image/026-592x444.jpg);
    background-size: 100% 100%;
}
.secondbox .apartimg{
    background: url(../image/205-592x444.jpg);
    background-size: 100% 100%;
}
.thirdbox .apartimg{
    background: url(../image/a4.jpg);
    background-size: 100% 100%;
}
.apartimg{
    height: 35vh;
}
.modern{
    height: 20vh;
    /* background: lightcoral; */
}
.owner{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    /* background: lightgoldenrodyellow; */
}
.core{
    /* height: 1250px; */
    /* width: 100%; */
    padding: 80px;
    /* margin: 0 auto; */
    border: 1px solid;
    /* background: lightblue; */
    display: flex;
    justify-content: center;
    
}
.cont{
    /* height: 1080px; */
    /* width: 1150px; */
    /* border: 1px solid;
     */
     /* height: 335px; */
     /* width: 550px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.effect{
    gap: 20px;
}
.s1, .port, .o, .n{
    height: 335px;
    width: 550px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 10px;
}
h1{
    font-family: "Roboto", Sans-serif;
    font-size: 28px;
}
.harsh{
    color: black;
    margin: 0 10px;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
}
.s1, .k{
    display: flex;
    /* justify-content: center; */
}
.port{
    background-image: url(../image/a1.jpg);
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    height: 350px;
    border: 1px solid;
    
}
.prt{
    /* height: 700px; */
    width: 550px;
    background-image: url(../image/a6.jpg);
    background-position: -320px;
    overflow: hidden;
    /* border: 1px solid; */
    border-radius: 10px;
}
.o{
    background-image: url(../image/a7.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.n{
    background-image: url(../image/a5.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.e{
    background-image: url(../image/a2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.m{
    background-image: url(../image/a3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.vila{
    border: 1px solid;
    border-radius: 10px;
    height: 350px;
    width: 550px;
    
}
.b{
    height: 100%;
    width: 550px;
    background: rgba(49, 47, 47, 0.3);
}
.b:hover{
    background: transparent;
}
.intel{
    background:linear-gradient(rgba(48, 48, 141, 0.8),rgba(48, 48, 141, 0.8)), url(../image/miami-beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    /* width: 100%; */
    margin: 0 auto;
    border: 1px solid;
    /* background: lightyellow; */
    display: flex;
    justify-content:center;
    align-items: center;
}
.web{
    display:flex;
    /* height: 1000px; */
    /* width: 1100px; */
    border: 1px solid;
    align-items: center;

}
.gtu{
    /* height: 50%; */
    width: 50%;
    border: 1px solid;
    font-family: "Roboto", Sans-serif;
}
h3{
    font-size: 30px;
}
.ab
{
    flex-wrap: wrap;
    display: flex;
    /* height: 50%; */
    /* width: 100%; */
    /* border: 1px solid ; */
}
.cd
{
    /* border: 1px solid; */
    height: 100%;
    width: 100%;
    background: #fff;
    font-family: "Roboto", Sans-serif;
    
}
form, input{
    /* height: 35px; */
    /* width: 400px; */

}
.finest{
    /* height: 130vh; */
    /* border: 1px solid; */
}
.proper{
    /* border: 1px solid; */
    height: 20vh;
    width: 80%;
    margin: 50px auto;
}
h5{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight: 300;
    font-family: "Roboto", Sans-serif;
}
.selection{
    text-align: center;
    font-family: "Roboto", Sans-serif;
}
.complex{
    display: flex;
    gap: 30px;
    width: 80%;
    /* height: 74vh; */
    margin: 50px auto;
    /* border: 1px solid; */
}
.black{
    height: 100%;
    width: 450px;
    background: rgba(49, 47, 47, 0.3);
}
.black:hover{
    background: transparent;
}
.im1, .im2, .im3{
    width: 450px;
    /* height: 74vh; */
    /* border: 1px solid; */
    /* background: lightcoral; */
}
.im4{
    margin-bottom: 30px;
    /* border: 1px solid; */
    height: 35vh;
    background: lightblue;
}
.im5{
    /* border: 1px solid; */
    height: 35vh;
    background: lightgoldenrodyellow;
    background-image: url(../image/033-592x444.jpg);
    background-size: 100% 100%;
}
.im1 .mi{
    background-image: url(../image/038-592x444.jpg);
    background-size: 100% 100%;
}
.im1 .im5{
    background-image: url(../image/037-592x444.jpg);
    background-size: 100% 100%;
}
.im2 .mi{
    background-image: url(../image/a4.jpg);
    background-size: 100% 100%;
}
.im2 .im5{
    background-image: url(../image/034-592x444.jpg);
    background-size: 100% 100%;
}
.im3 .mi{
    background-image: url(../image/039-592x444.jpg);
    background-size: 100% 100%;
}
.finest .load{
    margin: 30px 200px;
    border: 1px solid #00aeff;
    /* height: 50px; */
    color: #00aeff;
    font-weight: bold;
    font-size: 15px;
}
.citi{
    /* height: 100vh; */
    border: 1px solid;
    display: flex;
}
.newyork, .newyork1{
    margin: 50px auto;
    /* border: 1px solid; */
    height: 60vh;
    width: 14%;
}
.newyork .blur{
    height: 100%;
    width: 290px;
    background: rgba(49, 47, 47, 0.3);
}
.explore{
    margin-top: 130px;
    /* height: 180px; */
    /* border: 1px solid ; */
    font-family: "Roboto", Sans-serif;
}
.explore, span{
    /* padding: 2px; */
    font-size: 30px;
    font-weight: 500;
}
.explore, .pp{
    font-size: 17px;
}
.dm1{
    background-image: url(../image/d1.png);
    background-size: 100% 100%;
}
.dm2{
    background-image: url(../image/d2.png);
    background-size: 100% 100%;
}
.dm3{
    background-image: url(../image/d3.png);
    background-size: 100% 100%;
}
.dm4{
    background-image: url(../image/d4.png);
    background-size: 100% 100%;
    
}
.agents{
    /* height: 120vh; */
    /* border: 1px solid; */
}
.michile{
    height: 25vh;
    /* width: 80%; */
    margin: 50px auto;
    /* border: 1px solid; */
}
.emplye{
    /* border: 1px solid; */
    width: 80%;
    /* height: 65vh; */
    margin: 50px auto;
    display: flex;

}
.house{
    /* border: 1px solid; */
   
    width: 90%;
    gap: 10px;
}
.host{
    height: 25vh;
}
.d1, .d2, .d3, .d4{
    width: 70%;
    margin: 0 auto;
}
.d1{
    background-image: url(../image/agent-4-150x150.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
}
.d2{
    background-image: url(../image/Artboard-2team-150x150.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
}
.d3{
    background-image: url(../image/agent-1-150x150.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
}
.d4{
        background-image: url(../image/agent-3-150x150.jpg);
        background-size: 100% 100%;
        border-radius: 50%;
}
.pname{
    height: 12vh;
}
.username, .userinfo, .hpro{
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.username, .hpro{
    color: #00aeff;
}
.skill{
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    padding: 20px;
    height: 18vh;
    text-align: center;
}
.hpro{
    border: none;
    padding: 20px;
    height: 10vh;
}
.testi{
    /* height: 110vh; */
    /* border: 1px solid; */
}
.monial{
    /* border: 1px solid; */
    /* height: 20vh; */
    /* width: 80%; */
    margin: 50px auto;
}
.test{
    margin: 0 auto;
}
.hoster{
    /* border: 1px solid; */
    height:60vh;
    width: 80%;
    margin: 50px auto;
    display: flex;
}
.chaina{
    /* border: 1px solid; */
    height: 50vh;
    width: 30%;
    margin: 35px auto;
}
.closeicon{
    height: 8vh;
    /* background: #000; */
}
.closeicon .fa-quote-left{
    padding: 10px;
    font-size: 30px;
}
.chaina{
    color: #000000;
    background-color: #daeef8;
}
.scripts{
    padding: 15px 10px 10px;
    height: 22vh;
    /* background: red; */
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.himg{
    background: url(../image/64.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
}
.himg1{
    background: url(../image/48.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
}
.himg2{
    background: url(../image/44.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
}
.imgdetail{
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 20vh;
/* background: #000; */
}
.infomain{
    /* background: lightcoral; */
    height: 20vh;
    width: 40%;
    /* border: 1px solid; */
}
.infomain img{
    padding: 12px;
    border-radius: 50%;

}
.nameby{
    /* background: lightgreen; */
    height: 20vh;
    width: 60%;
    /* border: 1px solid; */
    padding: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 19px;
    line-height: 30px;
}
.nameby span{
font-weight: bold;
font-size: 19px;
}
.compc{
    display: flex;
    justify-content: center;
}
.logos{
    height: 17vh;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
}
.compn{
    /* border: 1px solid; */
    width: 15%;
    height: 17vh;
}
.c1{
    background-image: url(../image/c3.jpg);
    background-size: 100% 100%;
}
.c2{
    background-image: url(../image/c1.jpg);
    background-size: 100% 100%;
}
.c3{
    background-image: url(../image/c2.jpg);
    background-size: 100% 100%;
}
.c4{
    background-image: url(../image/c5.jpg);
    background-size: 100% 100%;
}
.c5{
    background-image: url(../image/c4.jpg);
    background-size: 100% 100%;
}
.newsletter{
    border: 1px solid;
    background: #081769;
    /* height: 500px; */
}
.foot{
    height: 500px;
    border: 1px solid;
    background:#2a1d9e;
} 
.newsletters{
    display: flex;
    margin:70px auto;
    height: 350px;
    width: 80%;
    font-family: "Roboto", Sans-serif;
}
.about1{
    padding: 20px;
    width: 50%;
    line-height: 30px;
    color: #fff;
}
.cover, .cover1{
    margin-top: 20px;
    font-size: 18px;
}
.yourmail input{
    height: 35px;
    width: 180px;
    border-radius: 5px;
}
.yourmail button{
    height: 35px;
    width: 80px;
    font-size: 18px;
    margin: 10px;
    border-radius: 5px;
    background: #00aeff;
    color: #fff;
}
.houzezshare{
    display: flex;
    justify-content:space-between ;
    /* border: 1px solid; */
    margin: 60px auto;
    width: 90%;
    height: 30px;
}
.copy, .ico, .sharelink{
    color: #fff;
    width: 20%;
    padding: 5px;
}
.sharelink{
    gap: 10px;
    -webkit-text-stroke-color: #fff ;
    -webkit-text-stroke-width:0.5px;
    color: transparent;
}
.fa:hover {
    -webkit-text-stroke-color: blue ;
    -webkit-text-stroke-width:0.5px;
    color: transparent;
}
.faa:hover{
    -webkit-text-stroke-color: red ;
    -webkit-text-stroke-width:0.5px;
    color: transparent;
}