@media (max-width:500px) {
    ul
    {
        display: none;
        list-style: none;
        width: 100%;
    }
    .class
    {
        display: block;
    }
    .bars
    {
        display: block;
    }
    li
    {
        display: block;
        border: 1px solid black;
     padding-left: 25px;
        /* text-align: center; */

    }
    .navebar
    {
        position: relative;
    }
    .menu
    {
        position: absolute;
        top: 100%;
        right:0;
    }
}